html, body, h1, ul, li, div, img, h2, h3, form, input, span, footer, a, h4, input, form, main {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* clear fix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #979797;
  letter-spacing: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

header a:hover {
  color: #3F98FF;
  border-bottom: 5px solid #3F98FF;
}

header li:last-child:before {
  content: "+  ";
}

header li:last-child:hover {
  color: #3F98FF;
}

.active {
  color: #3F98FF;
}

header {
  padding: 1em 0 3em 0;
  font-size: 35px;
  text-transform: uppercase;
  color: #979797;
}

h1 {
  float: left;
}

header ul {
  float: right;
}

header li {
  float: left;
  padding: 0 0 0 1.5em;
}

header li:first-child {
  padding-left: 1.5em;
  background: url('search2.png') no-repeat 25px 25px;
  background-size: 10%;
}

header li:first-child:hover {
  padding-left: 1.5em;
  background: url('search.png') no-repeat 25px 25px;
  background-size: 10%;
}

.blue li:first-child {
  padding-left: 1.5em;
  background: url('search.png') no-repeat 25px 25px;
  background-size: 10%;
}

/* Book */

.books {

}

.book {
  float: left;
  padding: 1em 1em 1em 0;
  width: 25.41%;
  height: 600px;
}

.book:nth-child(4n) {
  width: 23.75%;
}

.book:nth-child(4n) {
  padding-right: 0;
}

.book h2, h3, h4 {
  font-size: 25px;
}

.book a {
  display: block;
}

.book img {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #f1f1f1;
  transition: top 0.2s, left 0.2s, box-shadow 0.2s;
}

.book:hover img {
  cursor: pointer;
  top: -15px;
  left: 15px;
  box-shadow: -15px 15px 0 #3F98FF,
  -14.5px 14.5px 0 #3F98FF,
  -14px 14px 0 #3F98FF,
  -13.5px 13.5px 0 #3F98FF,
  -13px 13px 0 #3F98FF,
  -12.5px 12.5px 0 #3F98FF,
  -12px 12px 0 #3F98FF,
  -11.5px 11.5px 0 #3F98FF,
  -11px 11px 0 #3F98FF,
  -10.5px 10.5px 0 #3F98FF,
  -10px 10px 0 #3F98FF,
  -9.5px 9.5px 0 #3F98FF,
  -9px 9px 0 #3F98FF,
  -8.5px 8.5px 0 #3F98FF,
  -8px 8px 0 #3F98FF,
  -7.5px 7.5px 0 #3F98FF,
  -7px 7px 0 #3F98FF,
  -6.5px 6.5px 0 #3F98FF,
  -6px 6px 0 #3F98FF,
  -5.5px 5.5px 0 #3F98FF,
  -5px 5px 0 #3F98FF,
  -4.5px 4.5px 0 #3F98FF,
  -4px 4px 0 #3F98FF,
  -3.5px 3.5px 0 #3F98FF,
  -3px 3px 0 #3F98FF,
  -2.5px 2.5px 0 #3F98FF,
  -2px 2px 0 #3F98FF,
  -1.5px 1.5px 0 #3F98FF,
  -1px 1px 0 #3F98FF,
  -0.5px 0.5px 0 #3F98FF;
  border: 1px solid #979797;
  z-index: 1;
}

h3 {
  color: #3F98FF;
  padding: 0.5em 0 0 0;
}

.none img {
  float: left;
  width: 30%;
  border: 1px solid #f1f1f1;
  margin-bottom: 3em;
}

.details {
  padding: 1em 0;
}

.text {
  float: left;
  padding: 0 1em;
  width: 70%;
}

.add {
  color: black;
}

.text p {
  margin-top: 0em;
}

input {
  background: #f1f1f1;
  width: 100%;
  height: 50px;
}

input[type=search] {
  display: block;
  width: 100%;
  letter-spacing: 1px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button:after {
  content: "CANCEL";
  position: relative;
  top: 0;
  left: -1em;
  color: #979797;
}

input:focus {
  outline: 0;
  color: #3F98FF;
  background: #f1f1f1 !important;
}

.autocomplete a {
  display: block;
  padding: 0.5em 0 0.5em 1.25em;
  background: #979797;
  border-bottom: 1px solid #f1f1f1;
  color: #f1f1f1;
}

.autocomplete a:hover {
  background: #3F98FF;
  color: white;
}

.results {
  width: 25.4%;
  float: left;
  padding-right: 1em;
  padding-bottom: 3em;

}

.results:last-child {
  width: 23.75%;
  padding-right: 0;
}

.results img {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  margin-top: 1em;
  border: 1px solid #f1f1f1;
  transition: top 0.2s, left 0.2s, box-shadow 0.2s;
}

.results img:hover {
  position: relative;
  top: -15px;
  left: 15px;
  cursor: pointer;
  top: -15px;
  left: 15px;
  box-shadow: -15px 15px 0 #3F98FF,
  -14.5px 14.5px 0 #3F98FF,
  -14px 14px 0 #3F98FF,
  -13.5px 13.5px 0 #3F98FF,
  -13px 13px 0 #3F98FF,
  -12.5px 12.5px 0 #3F98FF,
  -12px 12px 0 #3F98FF,
  -11.5px 11.5px 0 #3F98FF,
  -11px 11px 0 #3F98FF,
  -10.5px 10.5px 0 #3F98FF,
  -10px 10px 0 #3F98FF,
  -9.5px 9.5px 0 #3F98FF,
  -9px 9px 0 #3F98FF,
  -8.5px 8.5px 0 #3F98FF,
  -8px 8px 0 #3F98FF,
  -7.5px 7.5px 0 #3F98FF,
  -7px 7px 0 #3F98FF,
  -6.5px 6.5px 0 #3F98FF,
  -6px 6px 0 #3F98FF,
  -5.5px 5.5px 0 #3F98FF,
  -5px 5px 0 #3F98FF,
  -4.5px 4.5px 0 #3F98FF,
  -4px 4px 0 #3F98FF,
  -3.5px 3.5px 0 #3F98FF,
  -3px 3px 0 #3F98FF,
  -2.5px 2.5px 0 #3F98FF,
  -2px 2px 0 #3F98FF,
  -1.5px 1.5px 0 #3F98FF,
  -1px 1px 0 #3F98FF,
  -0.5px 0.5px 0 #3F98FF;
  border: 1px solid #979797;
  z-index: 1;
}

.results ul {
  float: left;
  margin: 1.5em 0.5em 0.5em 1em;
}

.results li:nth-child(2) {
  color: black;
  margin-top: 0.5em;
}

.results a {
  color: #3F98FF;
}

.results a:hover {
  border-bottom: 3px solid #3F98FF;
}

.results-page input {
  background: #3F98FF;
}

.results-page input::-webkit-input-placeholder {
   color: white;
}

.results-page input:-moz-placeholder { /* Firefox 18- */
   color: white;
}

.results-page input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

.results-page input:-ms-input-placeholder {
   color: white;
}

#clear {
  background: transparent;
  width: 100%;
  padding: 15em 0em;
  z-index: -1;
}

#added {
  color: black;
}

#added-book {
  color: #3F98FF;
}

.alphabet li {
  display: block;
  float: left;
  margin: 0.5em 1em 1em 0;
  height: 1.75em;
}

.alphabet li:hover {
  color: #3F98FF;
  cursor: pointer;
  border-bottom: 4px solid #3F98FF;
}

.sort li {
  float: left;
  margin: 0 1em 0 0;
  height: 1.75em;
}

.sort li:hover {
  color: #3F98FF;
  cursor: pointer;
  border-bottom: 4px solid #3F98FF;
}

.T {
  color: #3F98FF;
  border-bottom: 4px solid #3F98FF;
}

#not-sort {
  color: #979797;
}

#not-sort:hover {
  cursor: default;
  border-bottom: none;
}

.default {
  color: #3F98FF;
  border-bottom: 4px solid #3F98FF;
}









@media all and (max-width: 1000px) {

  .book {
    width: 34.1%;
  }

  .book:nth-child(4n) {
    width: 34.1%;
    padding-right: 1em;
  }

  .book:nth-child(3n) {
    padding-right: 0;
    width: 31.7%;
  }

  .none img {
    width: 35%;
    margin-right: 0.5em;
    clear: both;
    margin-top: 2em;
  }

  .text {
    margin-top: 2em;
    width: 63%;
  }

  .text h3 {
    padding-top: 0;
  }

  #added {
    padding: 0;
  }

  .alphabet {
    display: none;
  }

  header h1 {
    padding-bottom: 1em;
  }

  header ul {
    clear: both;
    float: left;
  }

  header li {
    float: none;
  }

header li:first-child {
  background: none;
  padding-left: 0;
  clear: right;
  }

/*  header li:first-child:after {
    content: "  >";
  }*/

  header li:first-child:hover {
    padding-left: 0;
    background: none;
    background-size: 5em;
  }

  header li:last-child {
    padding-left: 0;
  }

/*  header li:last-child:after {
    content: "  >";
  }*/

  header li:last-child:before {
    content: "";
  }

  .blue li:first-child {
   padding-left: 0;
   background: none;
   background-size: 0;
  }

  .sort {
    clear: both;
  }

  .sort li {
    float: left;
    margin: 2em 1em 1em 0;
    height: 1.75em;
  }

  .sort li:hover {
    color: #3F98FF;
    cursor: pointer;
    border-bottom: 4px solid #3F98FF;
  }

  input {
    margin: 7em 0 0 0;
  }

  .results ul {
    margin: 0.5em 0 0 0;
  }

  .results {
    width: 34.2%;
    padding-bottom: 2em;
  }

  .results:nth-child(4n) {
    padding-right: 0;
    width: 31.55%;
  }

  .results:nth-child(5n) {
    padding-right: 1em;
    width: 34.2%;
  }

.results img {
  margin-bottom: 0.25em;
}


}


@media all and (max-width: 650px) {

  header {
    font-size: 20px;
  }

  header h1 {

  }

  header ul{
    text-align: left;

  }

  .none img {
    width: 90%;
    margin: 1em 5%;
  }

  .text {
    width: 100%;
    margin-top: 0;
    padding-bottom: 5em;
    font-size: 20px;
  }

  .sort li {
    font-size: 18px;
  }

  #not-sort {
    display: none;
  }

  .text h3 {
    padding-bottom: 1em;
    font-size: 20px;
  }

  #added {
    padding-bottom: 0;
  }

  input {
    margin: 4em 0 0 0;
  }

  /*
    add book
  */


  #added-book {
    padding-bottom: 0;
    padding-top: 1em;
  }
  .results img {
    margin-bottom: 0.5em;
  }

  .results {
    width: 53%;
    padding-bottom: 2em;
  }

  .results:nth-child(3n) {
    padding-right: 0;
    width: 47%;
  }

  .results:nth-child(4n) {
    padding-right: 1em;
    width: 53%;
  }

  .results:nth-child(5n) {
    padding-right: 0;
    width: 47%;
  }

.results a {
  margin-top: 1em;
}

.book {
  width: 53.25%;
  height: auto;
}

.book:nth-child(3n) {
  padding-right: 1em;
  width: 53.25%;
}

.book:nth-child(2n) {
  padding-right: 0;
  width: 46.75%;
}

}

